@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

body {
    font-family: 'Inter';
}

p {
    font-size: 15px;
    color: #5d5f79;
}

a:hover {
    color: hsl(5, 85%, 63%);
}